html {
  height: 100%;
}

body {
  font-family: "Work Sans", sans-serif !important;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body a {
  font-weight: 600;
}

body a:hover {
  text-decoration: none !important;
}

body button:focus {
  outline: none !important;
}
